In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

C:\Users\lohani\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
test = pd.read_csv(r'C:\Users\lohani\Desktop\Test.csv')
train = pd.read_csv(r'C:\Users\lohani\Desktop\Train.csv')

In [4]:
print(train.shape, test.shape)

(8009, 19) (6218, 17)

In [5]:
display(train.head(), test.head())

,customer_id,seller_id,order_checkout_date,delivery_eta,shipping_charges,product_category_code,X_1,X_2,product_quality_type,product_mass,product_length,product_height,product_breadth,payment_emi_years(max),price,order_status,transaction_type,coupon_code,payment_code
0,0a29abf475fb8039d2775913d6f0b6f0,48436dade18ac8b2bce089ec2a041202,2017-08-05 16:59:05,2017-09-06 00:00:00,18.12,27.0,58.0,598.0,D,650,28,9,14,1.0,153.75,E,1,CLOTH20,GPAY20
1,903ac1be571f2dc655f9083ffc936ce6,5b51032eddd242adc84c38acab88f23d,2017-10-30 15:35:32,2017-11-24 00:00:00,20.08,55.0,59.0,695.0,B,3050,33,13,33,1.0,388.17,E,3,CLOTH20,CITI10
2,bfadadd0d97f4c52f859c1c4d809edf9,4a3ca9315b744ce9f8e9374361493884,2017-11-04 12:03:25,2017-11-30 00:00:00,2.29,14.0,54.0,245.0,A,1383,50,10,40,1.0,216.72,E,1,CLOTH20,GPAY20
3,6c9e6937792cc04d9bb23451e0ff9f48,4a3ca9315b744ce9f8e9374361493884,2017-06-15 11:46:47,2017-07-10 00:00:00,1.86,14.0,54.0,245.0,A,1383,50,10,40,1.0,228.95,E,1,CLOTH15,CITI10
4,906e77e04c502baf17ad58162217da39,4a3ca9315b744ce9f8e9374361493884,2018-01-03 09:14:25,2018-01-31 00:00:00,15.57,14.0,54.0,245.0,A,1383,50,10,40,1.0,243.51,E,2,CLOTH15,CITI10

,customer_id,seller_id,order_checkout_date,delivery_eta,shipping_charges,product_category_code,X_1,X_2,product_quality_type,product_mass,product_length,product_height,product_breadth,payment_emi_years(max),price,order_status,transaction_type
0,d6b757c9478ed7366a42b6f09dce476f,d93919c944be9cff128f6c9cb899eacb,2017-12-20 23:34:29,2018-01-15 00:00:00,18.38,7.0,39.0,749.0,A,4450,50,8,45,1.0,88.28,E,1
1,9c224bc2354a4e8ecbd390cba06b5d07,d93919c944be9cff128f6c9cb899eacb,2018-01-07 16:38:24,2018-02-23 00:00:00,50.15,7.0,39.0,749.0,A,4450,50,8,45,1.0,120.05,E,2
2,5551ca919431fc78c6bb85ee6f57c904,d93919c944be9cff128f6c9cb899eacb,2018-01-06 13:23:46,2018-02-01 00:00:00,18.38,7.0,39.0,749.0,A,4450,50,8,45,1.0,88.28,E,1
3,77b4e2a15303756cc2a3b4a5d2dd3460,d93919c944be9cff128f6c9cb899eacb,2018-02-07 23:55:11,2018-03-19 00:00:00,39.55,7.0,39.0,749.0,A,4450,50,8,45,1.0,119.45,E,2
4,6b9c954ac26835161d0f34df89ca1175,23613d49c3ac2bd302259e55c06c050c,2018-02-04 12:11:39,2018-03-01 00:00:00,11.85,55.0,39.0,161.0,C,200,20,20,20,1.0,45.50,E,2

In [6]:
# Summary Statistics

display(train.describe(), test.describe())

,shipping_charges,product_category_code,X_1,X_2,product_mass,product_length,product_height,product_breadth,payment_emi_years(max),price,transaction_type
count,7995.000000,7986.000000,7871.000000,7871.000000,8009.000000,8009.000000,8009.000000,8009.000000,7994.000000,7999.000000,8009.000000
mean,17.528816,35.446406,49.355609,657.180282,1518.710201,29.528031,14.410788,23.788238,1.019264,127.189734,2.791859
std,11.230212,21.561223,9.540988,480.678441,2230.299606,13.956180,9.135349,11.295288,0.204122,118.208656,2.571943
min,0.000000,0.000000,8.000000,41.000000,50.000000,11.000000,2.000000,7.000000,1.000000,10.000000,1.000000
25%,12.130000,14.000000,44.000000,340.000000,250.000000,18.000000,10.000000,14.000000,1.000000,64.000000,1.000000
50%,15.380000,34.000000,52.000000,519.000000,800.000000,25.000000,12.000000,20.000000,1.000000,94.480000,1.000000
75%,19.650000,55.000000,58.000000,903.000000,1750.000000,40.000000,20.000000,30.000000,1.000000,144.925000,4.000000
max,147.320000,73.000000,64.000000,3890.000000,23800.000000,105.000000,105.000000,92.000000,10.000000,1972.030000,24.000000

,shipping_charges,product_category_code,X_1,X_2,product_mass,product_length,product_height,product_breadth,payment_emi_years(max),price,transaction_type
count,6194.000000,6202.000000,6134.000000,6134.000000,6218.000000,6218.000000,6218.000000,6218.000000,6204.000000,6203.000000,6218.000000
mean,17.965798,36.032731,47.664330,754.848549,1366.221132,28.619492,14.696848,21.880830,1.024339,106.583029,2.478610
std,10.958789,21.906695,10.810086,682.672265,2473.171688,15.129646,12.617405,11.226625,0.224748,104.857292,2.351104
min,0.030000,0.000000,5.000000,30.000000,50.000000,7.000000,2.000000,9.000000,1.000000,10.340000,1.000000
25%,12.790000,14.000000,41.000000,331.000000,200.000000,18.000000,7.000000,15.000000,1.000000,46.630000,1.000000
50%,15.495000,33.000000,50.000000,540.000000,500.000000,23.000000,12.000000,20.000000,1.000000,74.190000,1.000000
75%,19.230000,55.000000,56.000000,903.000000,1250.000000,35.000000,18.000000,27.000000,1.000000,125.675000,3.000000
max,206.450000,73.000000,64.000000,3950.000000,30000.000000,105.000000,105.000000,118.000000,8.000000,984.680000,20.000000

In [7]:
display(train.dtypes, test.dtypes)

customer_id                object
seller_id                  object
order_checkout_date        object
delivery_eta               object
shipping_charges          float64
product_category_code     float64
X_1                       float64
X_2                       float64
product_quality_type       object
product_mass                int64
product_length              int64
product_height              int64
product_breadth             int64
payment_emi_years(max)    float64
price                     float64
order_status               object
transaction_type            int64
coupon_code                object
payment_code               object
dtype: object

customer_id                object
seller_id                  object
order_checkout_date        object
delivery_eta               object
shipping_charges          float64
product_category_code     float64
X_1                       float64
X_2                       float64
product_quality_type       object
product_mass                int64
product_length              int64
product_height              int64
product_breadth             int64
payment_emi_years(max)    float64
price                     float64
order_status               object
transaction_type            int64
dtype: object

In [8]:
# Null values

display(train.isnull().sum(), train.isnull().sum())

customer_id                 0
seller_id                   0
order_checkout_date         0
delivery_eta                0
shipping_charges           14
product_category_code      23
X_1                       138
X_2                       138
product_quality_type      138
product_mass                0
product_length              0
product_height              0
product_breadth             0
payment_emi_years(max)     15
price                      10
order_status                0
transaction_type            0
coupon_code                 0
payment_code                0
dtype: int64

customer_id                 0
seller_id                   0
order_checkout_date         0
delivery_eta                0
shipping_charges           14
product_category_code      23
X_1                       138
X_2                       138
product_quality_type      138
product_mass                0
product_length              0
product_height              0
product_breadth             0
payment_emi_years(max)     15
price                      10
order_status                0
transaction_type            0
coupon_code                 0
payment_code                0
dtype: int64

In [9]:
# % MISSING VALUES

def missing(df):

    total = df.isnull().sum().sort_values(ascending = False)[df.isnull().sum().sort_values(ascending = False) != 0]
    percent = round(df.isnull().sum().sort_values(ascending = False)/len(df)*100,2)[round(df.isnull().sum().sort_values(ascending = False)/len(df)*100,2) != 0]
    return pd.concat([total, percent], axis=1, keys=['Total','Percent'])

display(missing(train))
display(missing(test))

                        Total  Percent
X_2                       138     1.72
X_1                       138     1.72
product_quality_type      138     1.72
product_category_code      23     0.29
payment_emi_years(max)     15     0.19
shipping_charges           14     0.17
price                      10     0.12

                        Total  Percent
product_quality_type       84     1.35
X_1                        84     1.35
X_2                        84     1.35
shipping_charges           24     0.39
product_category_code      16     0.26
price                      15     0.24
payment_emi_years(max)     14     0.23

## Train

In [10]:
display(train['X_2'].nunique(), train['X_1'].nunique(), train['product_quality_type'].nunique()
        , train['product_category_code'].nunique(), train['payment_emi_years(max)'].nunique()
        , train['shipping_charges'].nunique(), train['price'].nunique())

725

50

12

52

8

1931

3694

In [11]:
# replacing null

train['X_2'] = train['X_2'].fillna(train['X_2'].mode()[0])
train['X_1'] = train['X_1'].fillna(train['X_1'].mode()[0])
train['product_quality_type'] = train['product_quality_type'].fillna(train['product_quality_type'].mode()[0])
train['product_category_code'] = train['product_category_code'].fillna(train['product_category_code'].mode()[0])
train['payment_emi_years(max)'] = train['payment_emi_years(max)'].fillna(train['payment_emi_years(max)'].mode()[0])
train['shipping_charges'] = train['shipping_charges'].fillna(train['shipping_charges'].mean())
train['price'] = train['price'].fillna(train['price'].mean())

In [12]:
display(train['product_quality_type'].nunique(), train['order_status'].nunique(), train['coupon_code'].nunique()
        , train['payment_code'].nunique())

12

5

7

5

In [13]:
display(train['product_quality_type'].unique(), train['order_status'].unique(), train['coupon_code'].unique()
        , train['payment_code'].unique())

array(['D', 'B', 'A', 'E', 'G', 'C', 'F', 'H', 'K', 'I', 'J', 'L'],
      dtype=object)

array(['E', 'H', 'N', 'R', 'A'], dtype=object)

array(['CLOTH20', 'CLOTH15', 'FURN20', 'KIDS15', 'COSMETICS25', 'ELEC10',
       'ELEC15'], dtype=object)

array(['GPAY20', 'CITI10', 'APAY15', 'PAYTM25', 'HDFC20'], dtype=object)

In [14]:
# mapping labels

train['coupon_code'] = train['coupon_code'].map({'CLOTH15':0, 'CLOTH20':1, 'COSMETICS25':2, 'ELEC10':3
                                                 , 'ELEC15':4, 'FURN20':5, 'KIDS15':6})
train['payment_code'] = train['payment_code'].map({'APAY15':0, 'CITI10':1, 'GPAY20':2, 'HDFC20':3, 'PAYTM25':4})

In [15]:
from sklearn.preprocessing import LabelEncoder

train_product_quality_type = LabelEncoder()
train_order_status = LabelEncoder()

train['product_quality_type'] = train_product_quality_type.fit_transform(train['product_quality_type'])
train['order_status'] = train_order_status.fit_transform(train['order_status'])

In [16]:
train['order_checkout_date'] = pd.to_datetime(train['order_checkout_date'])

train['order_year'] = train['order_checkout_date'].dt.year
train['order_month'] = train['order_checkout_date'].dt.month
train['order_day'] = train['order_checkout_date'].dt.day
train['order_hour'] = train['order_checkout_date'].dt.hour
train['order_minute'] = train['order_checkout_date'].dt.minute
train['order_second'] = train['order_checkout_date'].dt.second
train['order_weekday'] = train['order_checkout_date'].dt.weekday
train['order_week'] = train['order_checkout_date'].dt.week
train.shape

(8009, 27)

In [17]:
train['delivery_eta'] = pd.to_datetime(train['delivery_eta'])

train['delivery_year'] = train['delivery_eta'].dt.year
train['delivery_month'] = train['delivery_eta'].dt.month
train['delivery_day'] = train['delivery_eta'].dt.day
train['delivery_weekday'] = train['delivery_eta'].dt.weekday
train['delivery_week'] = train['delivery_eta'].dt.week
train.shape

(8009, 32)

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8009 entries, 0 to 8008
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             8009 non-null   object
 1   seller_id               8009 non-null   object
 2   order_checkout_date     8009 non-null   datetime64[ns]
 3   delivery_eta            8009 non-null   datetime64[ns]
 4   shipping_charges        8009 non-null   float64
 5   product_category_code   8009 non-null   float64
 6   X_1                     8009 non-null   float64
 7   X_2                     8009 non-null   float64
 8   product_quality_type    8009 non-null   int32
 9   product_mass            8009 non-null   int64
 10  product_length          8009 non-null   int64
 11  product_height          8009 non-null   int64
 12  product_breadth         8009 non-null   int64
 13  payment_emi_years(max)  8009 non-null   float64
 14  price                   8009 non-null   float64
 15  order_status            8009 non-null   int32
 16  transaction_type        8009 non-null   int64
 17  coupon_code             8009 non-null   int64
 18  payment_code            8009 non-null   int64
 19  order_year              8009 non-null   int64
 20  order_month             8009 non-null   int64
 21  order_day               8009 non-null   int64
 22  order_hour              8009 non-null   int64
 23  order_minute            8009 non-null   int64
 24  order_second            8009 non-null   int64
 25  order_weekday           8009 non-null   int64
 26  order_week              8009 non-null   int64
 27  delivery_year           8009 non-null   int64
 28  delivery_month          8009 non-null   int64
 29  delivery_day            8009 non-null   int64
 30  delivery_weekday        8009 non-null   int64
 31  delivery_week           8009 non-null   int64
dtypes: datetime64[ns](2), float64(6), int32(2), int64(20), object(2)
memory usage: 1.9+ MB

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
train[['shipping_charges', 'product_mass', 'product_length', 'product_height', 'product_breadth', 'price']] = sc.fit_transform(train[['shipping_charges', 'product_mass', 'product_length', 'product_height', 'product_breadth', 'price']])

In [19]:
X = train.drop(['customer_id', 'seller_id', 'order_checkout_date', 'delivery_eta', 'coupon_code', 'payment_code'], axis=1)
y1 = train['coupon_code']
y2 = train['payment_code']

display(X.shape, y1.shape, y2.shape)

(8009, 26)

(8009,)

(8009,)

from imblearn import under_sampling, over_sampling
from imblearn.over_sampling import SMOTE




# example of oversampling a multi-class classification dataset

from imblearn.over_sampling import SMOTE
from collections import Counter

from sklearn.preprocessing import LabelEncoder

# transform the dataset
oversample = SMOTE()
X, y1 = oversample.fit_resample(X, y1)
X, y2 = oversample.fit_resample(X, y2)
# summarize distribution
counter1 = Counter(y1)
counter2 = Counter(y2)
for k,v in counter1.items():
    per = v / len(y1) * 100
    print('Class=%d, n=%d (%.3f%%)' % (k, v, per))
for k,v in counter2.items():
    per = v / len(y2) * 100
    print('Class=%d, n=%d (%.3f%%)' % (k, v, per))
# plot the distribution
pyplot.bar(counter1.keys(), counter1.values())
pyplot.show()
pyplot.bar(counter2.keys(), counter2.values())
pyplot.show()

In [20]:
# splitting data

from sklearn.model_selection import train_test_split
X_train, X_validate, y1_train, y1_validate = train_test_split(X, y1, test_size=0.2, random_state=42)

tunning

In [21]:
from sklearn import preprocessing

# scaler waste from sklearn import preprocessing
X_train = preprocessing.scale(X_train)
scaler = preprocessing.StandardScaler().fit(X_train)

#min_max_scaler = preprocessing.MinMaxScaler()
#X_train = min_max_scaler.fit_transform(X_train)
#X_train
max_abs_scaler = preprocessing.MaxAbsScaler()
X_train = max_abs_scaler.fit_transform(X_train)
X_train

In [22]:
# creating model

from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression() 
model2 = LogisticRegression()

from sklearn.neural_network import MLPClassifier
model1 = MLPClassifier(hidden_layer_sizes=(4,1), max_iter=300, activation = 'relu', solver='adam', random_state=1)
model2 = MLPClassifier(hidden_layer_sizes=(4,1), max_iter=300, activation = 'relu', solver='adam', random_state=1)
#model1 = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
#model2 = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)

from sklearn.naive_bayes import GaussianNB
model1 = GaussianNB()
model2 = GaussianNB()
#model1.fit(X_train, y1_train)
#predicted= model.predict([[0,2]])

# creating model

from xgboost import XGBClassifier
xgb = XGBClassifier() 
model1 = XGBClassifier()
model2 = XGBClassifier()

#apply catboost

categorical_features_indices = np.where(X.dtypes != np.float)[0]
from catboost import CatBoostClassifier
model1=CatBoostClassifier(iterations=50, depth=3, learning_rate=0.1)
model1.fit(X_train, y1_train,cat_features=categorical_features_indices,eval_set=(X_validate, y1_validate),verbose= False)
model2=CatBoostClassifier(iterations=50, depth=3, learning_rate=0.1)
model2.fit(X_train, y2_train,cat_features=categorical_features_indices,eval_set=(X_validate, y2_validate),verbose= False)
y1_pred = model1.predict(X_validate)
y1_pred
y2_pred = model2.predict(X_validate)
y2_pred
# Evaluation
from sklearn.metrics import recall_score
recall_score(y1_validate, y1_pred, average='weighted')
# Evaluation
from sklearn.metrics import recall_score
recall_score(y2_validate, y2_pred, average='weighted')

# creating model

from sklearn.tree import DecisionTreeClassifier
model1 = DecisionTreeClassifier()
model2 = DecisionTreeClassifier()

from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier(n_estimators=100)
#model2=RandomForestClassifier(n_estimators=100)

In [23]:
model1.fit(X_train, y1_train)

C:\Users\lohani\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [24]:
y1_pred = model1.predict(X_validate)
y1_pred

array([4, 4, 4, ..., 3, 4, 4], dtype=int64)

In [25]:
# Evaluation
from sklearn.metrics import recall_score
recall_score(y1_validate, y1_pred, average='weighted')

0.5711610486891385

In [ ]:
# splitting data

from sklearn.model_selection import train_test_split
X_train, X_validate, y2_train, y2_validate = train_test_split(X, y2, test_size=0.2, random_state=42)

In [ ]:
model2.fit(X_train, y2_train)

In [ ]:
y2_pred = model2.predict(X_validate)
y2_pred

In [ ]:
# Evaluation
from sklearn.metrics import recall_score
recall_score(y2_validate, y2_pred, average='weighted')

## Test

In [ ]:
# replacing null

test['X_2'] = test['X_2'].fillna(test['X_2'].mode()[0])
test['X_1'] = test['X_1'].fillna(test['X_1'].mode()[0])
test['product_quality_type'] = test['product_quality_type'].fillna(test['product_quality_type'].mode()[0])
test['product_category_code'] = test['product_category_code'].fillna(test['product_category_code'].mode()[0])
test['payment_emi_years(max)'] = test['payment_emi_years(max)'].fillna(test['payment_emi_years(max)'].mode()[0])
test['shipping_charges'] = test['shipping_charges'].fillna(test['shipping_charges'].mean())
test['price'] = test['price'].fillna(test['price'].mean())

In [ ]:
from sklearn.preprocessing import LabelEncoder

test_product_quality_type = LabelEncoder()
test_order_status = LabelEncoder()

test['product_quality_type'] = test_product_quality_type.fit_transform(test['product_quality_type'])
test['order_status'] = test_order_status.fit_transform(test['order_status'])

In [ ]:
test['order_checkout_date'] = pd.to_datetime(test['order_checkout_date'])

test['order_year'] = test['order_checkout_date'].dt.year
test['order_month'] = test['order_checkout_date'].dt.month
test['order_day'] = test['order_checkout_date'].dt.day
test['order_hour'] = test['order_checkout_date'].dt.hour
test['order_minute'] = test['order_checkout_date'].dt.minute
test['order_second'] = test['order_checkout_date'].dt.second
test['order_weekday'] = test['order_checkout_date'].dt.weekday
test['order_week'] = test['order_checkout_date'].dt.week
test.shape

In [ ]:
test['delivery_eta'] = pd.to_datetime(test['delivery_eta'])

test['delivery_year'] = test['delivery_eta'].dt.year
test['delivery_month'] = test['delivery_eta'].dt.month
test['delivery_day'] = test['delivery_eta'].dt.day
test['delivery_weekday'] = test['delivery_eta'].dt.weekday
test['delivery_week'] = test['delivery_eta'].dt.week
test.shape

In [ ]:
test.head()

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
test[['shipping_charges', 'product_mass', 'product_length', 'product_height', 'product_breadth', 'price']] = sc.fit_transform(test[['shipping_charges', 'product_mass', 'product_length', 'product_height', 'product_breadth', 'price']])

In [ ]:
X_test = test.drop(['customer_id', 'seller_id', 'order_checkout_date', 'delivery_eta'], axis=1)
X_test.shape

# waste donot use
#scaler.transform(X_test)
#X_test = min_max_scaler.transform(X_test)
#X_test
X_test = max_abs_scaler.transform(X_test)
X_test

In [ ]:
pred_cc = model1.predict(X_test)
pred_cc

In [ ]:
pred_pc = model2.predict(X_test)
pred_pc

In [ ]:
df1 = pd.DataFrame(test['customer_id'])
df2 = pd.DataFrame(pred_cc, columns=['coupon_code'])
df3 = pd.DataFrame(pred_pc, columns=['payment_code'])
display(df1.head(3), df2.head(3), df3.head(3))

In [ ]:
df = pd.concat([df1, df2, df3], axis=1)
df.head()

In [ ]:
# mapping labels

df['coupon_code'] = df['coupon_code'].map({0:'CLOTH15', 1:'CLOTH20', 2:'COSMETICS25', 3:'ELEC10'
                                                 , 4:'ELEC15', 5:'FURN20', 6:'KIDS15'})
df['payment_code'] = df['payment_code'].map({0:'APAY15', 1:'CITI10', 2:'GPAY20', 3:'HDFC20', 4:'PAYTM25'})

In [ ]:
df.head()

df.to_csv(r'C:\Users\Smriti Priya\Desktop\lr.csv', index=False)

In [ ]:
df.to_csv(r'C:\Users\lohani\Desktop\dt11.csv', index=False)